<body>
    <script src="/main.js"></script>
        <div class="firstpage-footer">
            <div class="firstpage-structure">
                <div class="firstpage-top">
                    <div class="firstpage-biglogo">
                        <div class="firstpage-logo2">
                            <a href="/" class="footer-logo-link"><img src="/images/logo_footer.png" alt="Footer Logo" class="footer-logo"></a>
                        </div>
                    </div>
                    <div class="firstpage-nav">
                        <span class="firstpage-text104 16ptsemibold">
                            Навігація:
                        </span>
                        <div class="firstpage-items1">
                            <ul class="footer-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/pilots">Рейтинг водіїв</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/new-participants">Динамiка користувачів</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/tracks">Рекорди трас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/calendar">Календар</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="firstpage-contacts">
                        <span class="firstpage-text108 16ptsemibold">
                            Контакти:
                        </span>
                        <div class="firstpage-items2">
                            <div class="firstpage-item10">
                                <img src="/images/mail.png" alt="Mail" class="mail-icon">
                                <span class="firstpage-text109 14ptmedium">
                                    kmamk.simracing@gmail.com
                                </span>
                            </div>
                            <!-- <div class="firstpage-item11">
                                <img src="/images/phone.png" alt="Phone" class="phone-icon">
                                <span class="firstpage-phone1">
                                    +38 066 528 30 36 
                                </span>
                            </div> -->
                        </div>
                    </div>
                    <div class="firstpage-media">
                        <span class="firstpage-text112 16ptsemibold">
                            Соцмережі:
                        </span>
                        <div class="firstpage-items3">
                            <a href="https://discord.gg/QH6UWRMnFK" target="_blank" rel="noopener noreferrer" class="discord-button">
                                <img src="/images/Discord-250.png" alt="Discord" class="discord-icon">
                            </a>
                            <a href="https://www.instagram.com/kmamk.simracing/" target="_blank" rel="noopener noreferrer" class="insta-button">
                                <img src="/images/Instagram-256.png" alt="Insta" class="insta-icon">
                            </a> 
                            <a href="https://www.youtube.com/@KMAMK_SimRacing" target="_blank" rel="noopener noreferrer" class="youtube-button">
                                <img src="/images/Youtube-256.png" alt="Youtube" class="youtube-icon">
                            </a>
                            <a href="https://www.facebook.com/groups/simracingua" target="_blank" rel="noopener noreferrer" class="facebook-button">
                                <img src="/images/facebook-500.png" alt="Facebook" class="facebook-icon">
                            </a>
                            <a href="https://www.twitch.tv/kmamk_simracing" target="_blank" rel="noopener noreferrer" class="twitch-button">
                                <img src="/images/twitch-500.png" alt="Twitch" class="twitch-icon">
                            </a>
                            <a href="https://www.patreon.com/kmamk_simracing" target="_blank" rel="noopener noreferrer" class="patreon-button">
                                <img src="/images/Patreon-Logo.svg" alt="Patreon" class="patreon-icon">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="firstpage-txt10">
                    <span class="firstpage-text113 12ptregular">
                        © 2010 - 2025 KMAMK
                    </span>
                </div> -->
            </div>
        </div>
</body>