<!-- views/partials/menu.ejs -->
<nav>
    <ul>
        <li><a href="/pilots">Pilots</a></li>
        <li><a href="/new-participants">New Participants</a></li>
        <li><a href="/tracks">Tracks</a></li>
    </ul>
</nav>
