<% var activeMenu=typeof activeMenu !=='undefined' ? activeMenu : '' ; %>

    <body>
        <div class="menu-container">
            <div class="menu">
                <a href="/" class="logo-link"><img src="/images/logo.png" alt="Site Logo" class="site-logo"></a>

                <div id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link <%= activeMenu === 'pilots' ? 'active' : '' %>" href="/pilots">Рейтинг
                                водіїв</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= activeMenu === 'new-participants' ? 'active' : '' %>"
                                href="/new-participants">Динамiка користувачів</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= activeMenu === 'tracks' ? 'active' : '' %>" href="/tracks">Топ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= activeMenu === 'calendar' ? 'active' : '' %>"
                                href="/calendar">Календар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://send.monobank.ua/jar/8jRFWi2zbt" target="_blank"
                                class="donate-button">Donate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="upcoming-event-strip" class="event-strip-container">
            <div class="event-strip-content">
                <span class="event-strip-label">Найближча подія:</span>
                <span id="event-title" class="event-strip-title">Загрузка...</span>
                <span id="event-date" class="event-strip-date"></span>
            </div>
        </div>
    </body>