<!-- views/partials/menu.ejs -->
<body>
    <div class="menu">
        <div class="left-menu">
            <a href="/" class="logo-link"><img src="/images/logo.png" alt="Site Logo" class="site-logo"></a>
            <a href="/pilots">Рейтинг водіїв</a>
            <a href="/new-participants">Динаміка користувачів</a>
            <a href="/tracks">Рекорди трас</a>
        </div>
        <a href="https://send.monobank.ua/jar/8jRFWi2zbt" target="_blank" class="donate-button">Donate</a>
    </div>
</body>
