<!-- views/partials/menu.ejs -->
<body>
    <header class="site-header">
        <img src="path/to/your/logo.png" alt="Site Logo" class="site-logo">
    </header>
    <div class="menu">
        <div class="left-menu">
            <a href="/pilots">Рейтинг водіїв</a>
            <a href="/new-participants">Динамiка користувачів</a>
            <a href="/tracks">Рекорди трас</a>
        </div>
		<a href="https://send.monobank.ua/jar/8jRFWi2zbt" target="_blank"
		class="donate-button">Donate</a>
    </div>
</body>
