<!-- views/partials/menu.ejs -->
<div class="menu">
    <a href="/pilots">Pilot Rating Table</a>
    <a href="/new-participants">User Growth Statistics</a>
    <a href="/tracks">Track Records</a>
    <a href="https://send.monobank.ua/jar/8jRFWi2zbt" target="_blank" class="donate-button">Donate</a>
</div>
