<section>
    <div class="wrap">
        <div class="items-wrap">
            <div class="items marquee">
                <div class="item"><a href="https://de2ua.com" target="_blank">
                        <img src="/images/logo-de2ua.png" alt="de2ua">
                    </a></div>
                <div class="item"><a href="https://7drive.com.ua" target="_blank">
                        <img src="/images/7drive_logo.png" alt="7drive">
                    </a></div>
                <div class="item"><a href="https://bitlook.net" target="_blank">
                        <img src="/images/bitlook-logo.png" alt="bitlook">
                    </a></div>
                <div class="item"><a href="https://playua.net" target="_blank">
                        <img src="/images/playua-l.png" alt="playua">
                    </a></div>
                <div class="item"><a href="https://o3.ua/" target="_blank">
                        <img src="/images/LOGO_o3.png" alt="freenet">
                    </a></div>
                <div class="item"><a href="https://www.instagram.com/okuni.seats/" target="_blank">
                        <img src="/images/okuni_seats_logo2.png" alt="okuni_seats">
                    </a></div>
                <div class="item"><img src="/images/okuni_school_logo3.png" alt="okuni_school"></div>

                <div class="item"><a href="https://de2ua.com" target="_blank">
                        <img src="/images/logo-de2ua.png" alt="de2ua">
                    </a></div>
                <div class="item"><a href="https://7drive.com.ua" target="_blank">
                        <img src="/images/7drive_logo.png" alt="7drive">
                    </a></div>
                <div class="item"><a href="https://bitlook.net" target="_blank">
                        <img src="/images/bitlook-logo.png" alt="bitlook">
                    </a></div>
                <div class="item"><a href="https://playua.net" target="_blank">
                        <img src="/images/playua-l.png" alt="playua">
                    </a></div>
                <div class="item"><a href="https://o3.ua/" target="_blank">
                        <img src="/images/LOGO_o3.png" alt="freenet">
                    </a></div>
                <div class="item"><a href="https://www.instagram.com/okuni.seats/" target="_blank">
                        <img src="/images/okuni_seats_logo2.png" alt="okuni_seats">
                    </a></div>
                <div class="item"><img src="/images/okuni_school_logo3.png" alt="okuni_school"></div>
            </div>
        </div>
    </div>
</section>