<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overall and New Pilots Chart</title>
    <link rel="stylesheet" href="/styles_new_participants.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="menu">
        <a href="/pilots">Pilot Rating Table</a>
        <a href="/new-participants">User Growth Statistics</a>
        <a href="/tracks">Track Records</a>
    </div>

    <h1>Overall and New Pilots Chart</h1>
    <div id="chart-container">
        <canvas id="participantsChart"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cumulativeParticipantsCount = JSON.parse('<%- cumulativeParticipantsCount %>');
            const newParticipantsCount = JSON.parse('<%- newParticipantsCount %>');
            const raceDates = JSON.parse('<%- raceDates %>');

            const ctx = document.getElementById('participantsChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: raceDates.map(date => new Date(date).toLocaleDateString()), // Форматируем дату
                    datasets: [
                        {
                            label: 'Overall Pilots',
                            data: cumulativeParticipantsCount,
                            type: 'line',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2,
                            fill: false,
                            yAxisID: 'y-axis-1'
                        },
                        {
                            label: 'New Pilots',
                            data: newParticipantsCount,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            yAxisID: 'y-axis-2'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Race Date'
                            }
                        },
                        'y-axis-1': {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Overall Pilots'
                            },
                            beginAtZero: true
                        },
                        'y-axis-2': {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            title: {
                                display: true,
                                text: 'New Pilots'
                            },
                            beginAtZero: true,
                            grid: {
                                drawOnChartArea: false // avoids overlapping with the first y-axis grid
                            }
                        }
                    }
                }
            });
        });
    </script>
    <script>
        // Получаем текущий URL
        var currentUrl = window.location.pathname;
        
        // Функция для добавления класса active к соответствующему пункту меню
        function setActiveMenuItem() {
            var menuItems = document.querySelectorAll('.menu a');
            menuItems.forEach(function(item) {
                if (item.href.includes(currentUrl)) {
                    item.classList.add('active');
                }
            });
        }
        
        // Вызываем функцию при загрузке страницы
        window.onload = setActiveMenuItem;
        </script>
        
</body>
</html>
