html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: rgb(235, 235, 235);
    background-color: rgb(0, 0, 0);
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: rgba(26, 28, 32, 1);
    border-color: rgba(46, 49, 53, 1);
    border-style: solid;
    border-width: 0 0 1px;
}

.menu {
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: rgba(26, 28, 32, 1);
    padding: 10px 20px;
}

.logo-link {
    position: absolute;
    left: 200px;
}

.menu-spacer {
    flex: 1;
}

#navbarNav {
    flex: 1;
    display: flex;
    justify-content: center;
    /* margin-left: -50px; */
}

a:link,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.navbar-nav {
    color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: rgb(49, 49, 49);
    border-radius: 6px;
    padding: 20px 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(70, 70, 70);
    margin-right: 10px;
}

.navbar-nav .nav-link.active {
    color: #e7e7e7;
    background: linear-gradient(90deg, #2563eb 0%, #1e40af 100%);
    border-radius: 6px;
    padding: 20px 22px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-link:not(.active):hover {
    color: #202020;
    background: rgb(213, 213, 213);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.navbar-nav .nav-link:hover {
    transform: translateY(-5px);
}

.site-logo {
    height: 65px;
    vertical-align: middle;
}

/* Полоса предстоящего события */
.event-strip-container {
   display: flex;
   justify-content: center; /* Центрирование по горизонтали */
   width: 100%;
   padding: 5px 5px;
   background-color: rgba(33, 37, 41, 0.8); /* Более темный фон с прозрачностью */
   border-bottom: 1px solid rgba(70, 70, 70, 0.5); /* Тонкая нижняя граница */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Небольшая тень */
   margin-bottom: 20px; /* Отступ снизу от основного контента */
}

.event-strip-content {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px; /* Расстояние между элементами */
   max-width: 960px; /* Максимальная ширина для центрирования контента */
   width: 100%;
}

.event-strip-label {
   font-weight: bold;
   color: #adb5bd; /* Светло-серый цвет */
   font-size: 14px;
}

.event-strip-title {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer; /* Курсор-указатель для обозначения кликабельности */
    text-align: center;
    white-space: normal;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out; /* Добавляем transition для text-decoration */
}

.event-strip-title:hover {
    color: #ffffff; /* Белый цвет при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}

.event-strip-date {
   font-weight: normal;
   color: #ced4da; /* Светло-серый цвет даты */
   font-size: 16px;
}
/* Конец полосы под меню */

/* Основной контент */
.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex: 1;
}

main {
    width: 80%;
}

.sidebar-left,
.sidebar-right {
    flex: 0 0 10%;
    padding: 0 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fc-day-grid-event .fc-content,
.fc-day-grid-event .fc-title {
    white-space: normal !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.fc-today {
    background-color: #ffeb3b;
    color: black;
}

.fc-today .fc-day-number,
.fc-today .fc-content {
    color: black;
}

#nearest-event {
    display: flex;
    align-items: center;
    gap: 10px;
}

#event-label {
    font-weight: bold;
    color: rgb(223, 0, 59);
}

#event-title {
    font-weight: bold;
    color: rgb(235, 235, 235);
}

#event-date {
    font-weight: bold;
    color: rgb(223, 0, 59);
}

/* fooder*/
.footer-logo {
    height: 50px;
    vertical-align: middle;
}

.footer-logo-link {
    padding: 0;
}

.firstpage-footer {
    color: rgb(235, 235, 235);
    gap: 32px;
    left: 0px;
    width: 100%;
    display: flex;
    padding: 30px 0;
    position: flex;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(46, 49, 53, 1);
    border-style: solid;
    border-width: 1px 0 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(26, 28, 32, 1);
}

.firstpage-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.firstpage-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.firstpage-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul.footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav .nav-link {
    text-decoration: none;
    color: inherit;
}

.footer-nav .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.firstpage-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.firstpage-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.firstpage-item10,
.firstpage-item11,
.firstpage-item12 {
    display: flex;
    align-items: center;
}

.mail-icon,
.phone-icon {
    width: 30px;
    margin-right: 10px;
}

.discord-icon,
.insta-icon,
.youtube-icon,
.facebook-icon,
.twitch-icon,
.patreon-icon {
    width: 30px;
}

.firstpage-items1,
.firstpage-items2,
.firstpage-items3 {
    padding-top: 30px;
}

.footer-nav .nav-item {
    margin-bottom: 15px;
}

.firstpage-items2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firstpage-items3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.firstpage-txt10 {
    margin-top: 40px;
    text-align: center;
}
/* fooder end*/

/* partners */
.wrap {
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 50px;
}

.items-wrap::before,
.items-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    z-index: 1;
}

.items-wrap::before {
    left: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.items-wrap::after {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), transparent);
}

/* Анимация прокрутки */
.items {
    flex-shrink: 0;
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    animation: scroll 20s linear infinite;
}

.items-wrap:hover .marquee {
    animation-play-state: paused;
}

.item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: transform 0.1s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item img {
    width: 120px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7))
    }
}

@media (max-width: 600px) {
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-150px * 7))
        }
    }
}
/* partners end*/
