#chart-container {
    background-color: rgba(26, 28, 32, 1);
    border-color: rgba(46, 49, 53, 1);
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    max-width: 70%;
    margin: auto;
}

#calendar {
    color: rgb(225, 225, 225);   
}

.fc-event.highlighted-event {
    border: 3px solid #ff0000 !important;
    background-color: rgba(255, 0, 0, 0.2) !important;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7) !important;
    transition: all 0.3s ease-in-out;
}

.fc-event.highlighted-event .fc-content {
    color: #ffffff !important;
    font-weight: bold !important;
}

.fc-toolbar {
    padding: 10px 10px 0px 10px;
}

.fc-event.past-event {
    background-color: #6b6b6b !important;
    border-color: #555 !important;
    opacity: 0.6;
}

.fc-event.past-event .fc-content {
    color: #e5e5e5;
    font-weight: normal;
}