#chart-container {
    width: 85%;
    margin: 0 auto;
    background-color: #222222; /* Фон черный */
    padding: 0px;
    border-radius: 10px; /* Опционально: закругленные углы */
    box-shadow: 0 0 10px rgb(0, 223, 193); /* Опционально: тень */
}