.tracks-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.track {
    background-color: #4d4d4d;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.track img {
    max-height: 60%;
    width: auto;
    object-fit: contain;
    border-radius: 5px;
}

.track h2 {
    margin: 5px 0;
    color: #E0E0E0;
}

.track-info {
    margin-top: auto;
    border-top: 2px solid #E0E0E0;
    padding-top: 10px;
    color: #E0E0E0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 5px 50px;
    align-items: baseline;
    text-align: left;
}

.track-info .label {
    text-align: left;
    font-weight: bold;
}

.track-info .time {
    text-align: left;
    white-space: nowrap;
}

.track-info .pilot-name {
    text-align: left; 
}
