body {
    font-family: Arial, sans-serif;
    background-color: #222222; /* Черный фон */
    color: #fff; /* Белый цвет текста по умолчанию */
    margin: 20px;
    padding-top: 10px; /* Измените значение в зависимости от высоты вашего меню */
}

.menu {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Меню будет оставаться на месте при прокрутке */
    top: 0;
    width: 100%;
    z-index: 1000; /* Убедитесь, что меню имеет высокий z-index */
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #009879;
    color: white;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 2px; Измените значение в зависимости от высоты вашего меню */
    margin-top: 20px;
    padding: 1px 0;
    width: 44%; /* Установите ширину равной ширине .table-container */
}

.header-title-search {
    display: flex;
    align-items: center;
    width: 44%; /* Установите ширину равной ширине .table-container */
    position: relative;
}

h2 {
    color: #ffffff;
    margin-right: 20px; /* Отступ справа для поля поиска */
    background-color: #222222;
    padding: 1px 0;
}

.search-container {
    margin-left: auto; /* Размещаем поле поиска справа */
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container {
    max-height: 900px;
    overflow-y: auto;
    width: 44%; /* Устанавливаем ширину контейнера таблицы */
}

table {
    width: 100%; /* Фиксированная ширина таблицы */
    border-collapse: collapse;
    font-size: 16px;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(215, 3, 3, 0.872);
    table-layout: auto; /* Устанавливаем фиксированное расположение таблицы fixed*/
}

thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left; /* Выровнять текст по левому краю */
    white-space: nowrap;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: auto; /* Фиксированная ширина для заголовков */
}

tbody td {
    padding: 12px 15px;
    text-align: left; /* Выровнять текст по левому краю */
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff; /* Белый цвет текста по умолчанию */
    width: auto; /* Фиксированная ширина для ячеек */
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #222222;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr:hover {
    background-color: #009879; /* Светлый фон при наведении на строку */
}

tbody td:hover {
    color: #000; /* Черный цвет текста при наведении */
}

tbody tr.selected {
    background-color: #009879; /* Цвет фона для выбранной строки */
    color: #fff; /* Белый цвет текста для выбранной строки */
}

#chart-container {
    flex: 1;
    padding-left: 20px;
    width: 800px; /* Увеличиваем ширину графика */
    height: 600px; /* Увеличиваем высоту графика */
    margin-left: 20px;
    background-color: #333; /* Фон для контейнера графика */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Тень для контейнера графика */
}

#pilot-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

#eloChart {
    width: 100%;
    height: 100%;
}
